body {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    padding: 16px;
    background: #161B22;
    display: flex;
    justify-content: left;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image div {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0px 10px;
}

.image {
    width: 30px;
    height: 30px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-search input {
    background-color: #0D1117;
    border: 0.5px solid #a9a9a9;
    border-radius: 2px;
    margin: 0px 10px;
    padding: 0px 60px 0px 10px;
    height: 90%;
    color: aliceblue;
}

.button {
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 80%;
}

.header-search input::placeholder {
    color: #a9a9a9 ;
  }

.header-menu {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 5px;
    color: #ffffff;
    cursor: pointer;
}

.header-menu span:hover {
    color: #c9c9c9;
}

.header-icon {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category{
    padding: 20px;
    background-color: #0D1117;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #21262d;
}

.category span {
    color: #c9d1d9;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.category span:hover {
    color : #ffffff
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    width: 40%;
    background-color: #c9c9c9;
    height: 100%;
}

.main-right {
    width: 60%;
    background-color: #0D1117;
    height: 100%;
}

.main-right_stats{
    margin: 10px;
    border: 0.5px solid #ffffff;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
}

.main-right_stats span {
    color: #ffffff;
    font-size: 12px;
    margin-left: 4px;
}

.main-right_stats_box {
    margin: 10px 0px;
    padding: 10px 20px;
    border: 0.5px solid #ffffff;
    width: 45%;
    border-radius: 10px;
}

.main-right_stats_name {
    color: #FD428E;
    font-size: 16px;
}

.main-right_status_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right_status_info_left p {
    color: #A8FDF6;
    font-weight: 600;
    font-size: 14px;
    margin: 3px;
}

.main-right_status_info_right {
    margin: 0px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-right_status_info_right_box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px solid #FD428E;

}
.main-right_status_info_right_box_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-right_status_info_right_box_circle h2{
    color: #A8FDF6;
}

/* Pinned */

.Pinned {
    background-color: #0D1117;
    width: 70%;
}
